.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin 2s;
}

.App-header {
  /* background-color: #74747470; */
  min-height: 100vh;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: rgb(0, 0, 0);
}

@keyframes App-logo-spin {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
} 